//
//  Common.xcconfig
//  HttpClientTest
//
//  Created by Afroz Muzammil on 22/8/16.
//  Copyright © 2016 Afroz Muzammil. All rights reserved.
//

HEADER_SEARCH_PATHS=$(inherited) $(SRCROOT)/$(PROJECT_NAME) $(SRCROOT) $(SRCROOT)/../Common

// hide the symbols
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Enable warnings
GCC_TREAT_WARNINGS_AS_ERRORS = YES
WARNING_CFLAGS = -Wall -Wno-unknown-pragmas -Wno-reorder
